<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" >
</head>
<body>
    <div class="content">
        <div class="header col-sm-6 col-sm-offset-3">
            <h1 class="text-center">Hello m8</h1>
        </div>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</body>
</html>